<!-- <!DOCTYPE html>
<-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
  <section>
    <div class="background-image">
        <div class="content">
            <h1>AGRICULTURE</h1>
            <div class="button-container">
                <a th:href="@{/login}" class="button">Login</a>
                <a th:href="@{/register}" class="button">Register</a>
            </div>
        </div>
    </div>
  </section>
</body>
</html> 
